@font-face {
    font-family: 'DSJapanese';
    src: url('DroidSansJapanese.woff') format('woff'),
     url('DroidSansJapanese.ttf') format('truetype');
}

body {
    margin-top: 70px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    font-family: DSJapanese, 'monospace';
}
  
.header {
    text-align: center;
    color: white;
    background-color: #b700ffaf;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 80%;
    min-height: 60px;
    z-index: 0;
}



#kana_helper {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#kana_helper-content {
  border: 1px solid #ab47bc;
  border-radius: 10em/10em;
  font-size:1.5em;
  text-align: center;
  margin: auto;
  color: white;
  background-color: #b700ff;
  height: 30px;
  width: 30px;
}
.author {
    text-align: center;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 10%;
    min-height: 60px;
    z-index: 1;
}

.author img {
    height: 50px;
    padding: 5px;
}

.mode_switch {
    text-align: center;
    color: white;
    background-color: #b700ffaf;
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    min-height: 60px;
    font-size: 150%;
    line-height: 60px;
}

.kata {
    color: #000080;
    border: 1px solid #00008020;
}

.hira {
    color: #b700ff;
    border: 1px solid #b700ff20; 
}

.seion span {
    width: 40px;
    height: 40px;
}

.kanatable {
    font-family: DSJapanese;
    font-size: 100%;
    text-align: center;
    margin: auto;
    width: 100%;
}

.seion {
    color: #b700ffaf;
    border: 1px solid;
    border-bottom: 0px solid;
    font-family: DSJapanese;
    font-size: 200%;
    line-height: 140%;
}

tr .seion {
    height: 20%;
    width: 20%;
}

.romaji {
    color: #464646;
    font-family: DSJapanese;
    font-size: 100%;
    border: 1px solid;
    border-top: 0px solid;
}

.guess-box {
    color: #b700ffaf;
    font-family: DSJapanese, 'monospace';
    font-size: 1000%;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50%;
    margin: auto;
}

#word-guess {
    font-size: 0.3em;
    height:50%;
}

.word-rus {
    text-shadow: 0 0 50px #b700ff;
    color: transparent;
    transition: text-shadow 0.5s;
    font-size: 0.2em;
}
.word-rus-tap {
    text-shadow: 0 0 0px #b700ff;
    color: transparent;
    transition: text-shadow 0.5s;
    font-size: 0.2em;
}